
<%- include('../partials/nav') %>


<div class="container-fluid main_header ho">
    <div class="row ">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row ">

                <div class="col-md-6 col-12 main_header_right  align-items-center ho">
                    <div>
                        <figure>
                            <img src="img/empty-cart.png"  width="450" class="img-fluid">
                        </figure>
                       
                    </div>
                    

                </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to the weather app</p>
                    <h1 class="my-3">Get the latet<span class="color_txt"> Weather</span> info of the city</h1>
                    <a class="my-3" href="/weather"><button class="main_header_btn">Get Now</button></a>
                </div>
            

            </div>
        </div>
    </div>

</div>




<%- include('../partials/footer') %>

    