<%- include('../partials/nav') %>


  
     <% pizzas.forEach(function(one) { %>
      <h1><%= one.email %></h1>
          
        </div>
        <% }) %>



        <%- include('../partials/footer') %>

